.body{
    min-height: 100vh
    }

.sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #212529
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px
}

.sidebar a:hover {
    background: #343a40
}

.content {
    margin-left: 230px;
    padding: 20px
}